{% extends 'layouts/dashboard.html' %}

{% macro rules() %}
<div class="table-responsive text-center">
<table class="table table-hover text-nowrap">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    {% for porcent in porcents %}
    <tr>
      <td>{{porcent.id}}</td>
      <td>{{porcent.name}}</td>
      <td>
        <div class="align-self-center" >
          <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
            Opções
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="edit/{{ porcent.id }}">Editar</a>
            <a class="dropdown-item" href="delete/{{ porcent.id }}">Deletar</a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endmacro %}

{% macro mostrar() %}
<div class="col">

    {{card_primary(
        _class="",
        title="Regras", 

        card_tools=buttons(
            link="create",
            button_type="button",
            _class="btn-default",
            button_text="Novo"),

        card_body=rules()
        )}}
</div>
{% endmacro %}
{% block content %}
{{ (mostrar()) }}
{% endblock %}