
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/uplot/uPlot.min.css')}}">

<div class="chart">
    <div id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"/></div>
</div>

<script src="{{ url_for('static', filename='plugins/uplot/uPlot.iife.min.js')}}"></script>

function getSize(elementId) {
    return {
      width: document.getElementById(elementId).offsetWidth,
      height: document.getElementById(elementId).offsetHeight,
    }
  }

  let data = [
    [0, 1, 2, 3, 4, 5, 6],
    [28, 48, 40, 19, 86, 27, 90],
    [65, 59, 80, 81, 56, 55, 40]
  ];



  const optsLineChart = {
    ... getSize('lineChart'),
    scales: {
      x: {
        time: false,
      },
      y: {
        range: [0, 100],
      },
    },
    series: [
      {},
      {
        fill: 'transparent',
        width: 5,
        stroke: 'rgba(60,141,188,1)',
      },
      {
        stroke: '#c1c7d1',
        width: 5,
        fill: 'transparent',
      },
    ],
  };

  let lineChart = new uPlot(optsLineChart, data, document.getElementById('lineChart'));

  window.addEventListener("resize", e => {
    lineChart.setSize(getSize('lineChart'));
  });
