{% extends 'layouts/dashboard.html' %} 

{% from 'pages/dashboard/contents/graph_boll.html' import graph_boll %}
{% from 'pages/dashboard/contents/graph_runs.html' import graph_runs %}

{% block head %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{motorist_num}}</h3>

        <p>Motoristas Cadastrados</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{runs}}<sup style="font-size: 20px"></sup></h3>

        <p>Corridas Realizadas</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{gross_value}}</h3>

        <p>Faturamento Bruto</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-indigo">
      <div class="inner">
        <h3>{{lucro}}</h3>

        <p>Lucro</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='dist/js/pages/dashboard2.js')}}"></script>
{% endblock %}
