<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="{{ url_for('static', filename='/images/logo.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">KRYPTA ANALITYCS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/" class="nav-link" id="home">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="/clients" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Clientes
            </p>
          </a>
        </li> -->
        <li class="nav-item">
          <a href="/revenues/invoices" class="nav-link" id="revenues-invoices">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Fechamento
            </p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Frota
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/motorists" class="nav-link" id="motorists-">
                <i class="far fa-circle nav-icon"></i>
                <p>Motoristas</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/motorists/uploads" class="nav-link" id="motorists-uploads">
                <i class="far fa-circle nav-icon"></i>
                <p>Uploads</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>